Django>=5.0
djangorestframework
celery
redis
requests
python-dotenv
requests
sentence-transformers
faiss-cpu
rdkit-pypi
asgiref
django-cors-headers
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
ollama>=0.1.8
langchain>=0.2.12
langchain-community>=0.2.7
tiktoken>=0.7.0
trimesh>=4.4.0
pymeshlab>=2023.12
pythreejs>=2.4.2
numpy==1.26.4
pillow>=10.2.0
celery>=5.4.0
redis>=5.0.1
ipython>=8.21.0
langchain-ollama
pubchempy